.position-img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10%;
    width: 20%;
}
.position-search{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 3%;
    width: 43%;
    border-radius: 30px;
    padding: 15px;
    border-style: solid;
    border: 1px solid rgba(221, 214, 214, 0.945);

}
.button-1-style{
    display: block;
    width: 150px;
    margin-left: 39%;
    margin-top: 40px;
    padding: 12.5px;
    background-color: rgb(240, 230, 230);
    border: 0px;
    border-radius: 5px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    color: rgba(71, 68, 68, 0.753);

}
.button-2-style{
    display: block;
    width: 150px;
    margin-left: 51%;
    margin-top: -39px;
    padding: 12px;
    background-color: rgb(240, 230, 230);
    border: 0px;
    border-radius: 5px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    color: rgba(71, 68, 68, 0.753);
}
#magnifying-glass{
    font-size: 160px;
    display: inline-block;
    position: relative;
    width: 16px;
    height: 16px;
    border: 2px solid rgba(71, 68, 68, 0.753);
    border-radius: 10px;
}
#magnifying-glass::before{
    content: "";
    display: inline-block;
    background: red;
    width: 10px;
    height: 9px;
    border-width: 0px;
    position: absolute;
}